.King_Div {
    width: 100%;
    height: auto;
}
.menybar_class_0 {
    display: block;
}
.menu_h4_class {
    width: 100%;
    text-align: center;
    margin: 0px;
}
#menubar_id {
    cursor: pointer;
    /* display: initial; */
    width: auto;
    text-align: left;
}

/* Back  Menu  scs */


.backmenu_class {
    margin-left: 7%;
    background: red;
    font-size: 20px;
}

h3 {
    cursor: pointer;
    margin: 0%;
    padding-right: 19px;
    margin-bottom: 10px;
}
#back_menu {
    cursor: pointer;
    float: left;
}
#back_menu:hover {
    color: red;
}
.span_class_Q {
    background: rgb(247, 244, 244);
    border: 1px solid black;
    padding-top: 10px;
    height: 100px;
    width: 86%;
    float: left;
    margin-left: 7%;
    margin-right: 7%; 
    margin-bottom: 10px;
    border-radius: 10px;
}
#span_Q {
    margin: 5px;
    font-size: 22px;
    cursor: pointer;
}
#p {
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    margin-right: 0%;
    font-size: 15px; 
    width: 20%;
    font-weight: bold;
}
.button-div {
   text-align: right;
   margin-bottom: 10px;
}
#button {
    font-weight: bold;
    cursor: pointer;
}
.ul-tag {
    /* list-style: none; */
    padding: 0%;
    margin: 0%;
    float: left;
    width: 100%;
    font-size: 12px;
    counter-reset: section;
}
#Li_tag_1 {
    width: 20%;
    margin: 0%;
    padding: 0%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Li_tag_2 {
    width: 20%;
    margin: 0%;
    padding: 0%;
    float: left;
    list-style: none;
}
#Li_tag_0 {
    width: 20%;
    margin: 0%;
    padding: 0%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
#input {
    font-size: 10px;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}






/* footer menu bar class !!! */
/* .footer_Bar_Class {
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 30px;
    height: 380px;
    width: 200px;
    float: right;
    background: linear-gradient(180deg, #487eb0, #ffffff);;
}
.footer_Bar_Class:hover {
    background: linear-gradient(180deg, rgb(194, 66, 66), #ffffff);;
}
.footer_Bar_Class > div {
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
}
.footer_Bar_Class > div:hover {
    background: black;
    color: white;
}
#FB {
    background: black;
    border-radius: 50%;
    padding-right: 11px;
    padding-left: 11px;
    color: #FFFFFF;
    position: fixed;
    bottom: 50px;
    right: 0%;
    margin-right: 30px;
    font-size: 50px;
    cursor: pointer;
} */



/* menu bar */


